{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper divform">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label ">Adresse mail</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="marc@dupont.fr">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Champ de texte</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Écrivez votre texte ici..." rows="3"></textarea>
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</div>
	</div>
{% endblock %}
